<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>

<h1><%= @title %></h1>
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav pull-left">
          <li><a href="/recipes" title="recipes">Recipes</a></li>
        </ul>

        <form action="/recipes" method="get">
          <label for="query"></label>
          <input type="text" name="recipes_query" id="recipes_query" />
          <input type="submit" value="Search Recipes" />
        </form>

      </div>
    </div>





<section>
  <%= yield %>
</section>
