<h3>Ingredients</h3>
<% @ingredients.each do |ingredient| %>
<%= ingredient["name"] %><br>
<% end %>


<% @description_instructions[0].each do |key,value| %>
  <% if key == "recipe" || key == "id" %>
      <% next %>
  <% end %>

  <h3><%= key.capitalize %></h3>
    <% if key == "instructions" %>
      <ul>
          <% @instructions_array.each do |line| %>
            <li><%= line %></li>
          <% end %>
      </ul>
    <% else %>
      <p><%= value %></p>
    <% end %>
<%end %>




  </body>
</html>
