<h3>Ingredients</h3>
<% @ingredients.each do |ingredient| %>
<%= ingredient["name"] %><br>
<% end %>

<h3>Description</h3>
<% @description_instructions[0].each do |key,value| %>
  <% if key == "description" %>
      <%= value %>
  <% end %>
<%end %>

<h3>Instructions</h3>

<% @instructions_cleaned_up.each do |hash| %>
<ul>
  <% hash.each do |key,value| %>
    <li>
      <strong><%= key %></strong>. <%= value %>
    </li>
  <% end %>
</ul>
<% end %>


  </body>
</html>
